# https://pipenv-fork.readthedocs.io/en/latest/basics.html
# https://python-docs.readthedocs.io/en/latest/dev/virtualenvs.html

[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_full_version = '3.5.5'

[packages]
# python -m pip install pysdl2
pysdl2 = "0.9.7"
# python -m pip install pyinstaller
pyinstaller = "3.6"
# python -m pip install pymunk
pymunk = "5.6.0"



[dev-packages]
# nose = '*'
# unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python
