# https://pipenv-fork.readthedocs.io/en/latest/basics.html
# https://python-docs.readthedocs.io/en/latest/dev/virtualenvs.html

[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_full_version = '3.7.6'

[packages]
# python -m pip install pysdl2


[dev-packages]
# nose = '*'
# unittest2 = {version = ">=1.0,<3.0", markers="python_version < '2.7.9' or (python
